# Environment
.env
.env.local

# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo

# Uploads
uploads/

# Nginx SSL certs
nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
.gitnexus
